.titel {
    font-size: xx-large;
    font-family: Algerian;
    text-align: center;
}

.achtergrond {
    background-color: lightslategrey;
}


.ronaldo {
    width: 250px;
    height: 250px;

}

.benadrukt {
    font-weight: bold;
}

.pingpong {
    width: 300px;
    height: 200px;
}